* text=auto

*.sh text eol=lf
*.py text eol=lf
*.launch.py text eol=lf
*.xml text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.msg text eol=lf
*.srv text eol=lf
*.urdf text eol=lf
*.xacro text eol=lf
*.c text eol=lf
*.h text eol=lf
*.cpp text eol=lf
*.hpp text eol=lf
*.ld text eol=lf
*.ioc text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.dae binary
*.stl binary
*.STL binary
